/* ModuleProjectDropdown.css */
.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .dropdown-content button {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
  }
  
  .dropdown-content button:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .module {
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  
  .project-dropdown {
    display: flex;
    flex-direction: column;
  }
  
  .project {
    background-color: #f9f9f9;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  
  .project:hover {
    background-color: #ddd;
  }
  